h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #e85d04;
  text-align: center;
}
h2 {
  color: #f48c06;
}
ul {
  color: #faa307;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #03071e;
}
p {
  color: #f48c06;
}
.borda {
  text-align: center;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fdf8f8;
  padding: 1px;
  background-color: #eeeceb;
sss
}
.sobreMim {
  text-align: center;
  block
}
