body {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 41, 41);
}

ul {
  display: flex;
  flex-direction: column;
};

.principal {
  background-image:url(alan1.jpeg);
  padding: 1000px;
  background-color: red;
  color: red;
}
div {
  color: white;
  background-image:url(foster.jpeg);
  padding: 10%;
  background-size: 370px;
  background-repeat: no-repeat;
  border: solid 1px black;
  background-position: right;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  
  
  
}

.sobre {
  border: solid 1px black;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
}

.topo {
  display: flex;
  border: solid 1px black;
  justify-content: space-between;
  color: white;
  width: 50%;
  margin: auto;
  background-color: black;

}
a {
  color: white;
}

.baixo {
  display: flex;
}

.links {
  text-align: center;
  border:  solid 1px black;
  padding: 10px;
  background-color: black;
  margin-left: 10px;
}
.rodape {
  border: solid 1px black;
  padding: 5px;
}

    
